body {
  background-color: black;
  font-family: Arial;
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.calculator-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-button {
  font-size: 17px;
}

.calculation-display {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
  text-align: right;
}

@media (max-width: 400px) {
  .calculator-button {
    height: 50px;
    font-size: 20px;
  }

  .calculation-display {
    font-size: 2rem;
  }
}